<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">I'mages</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li [ngClass]="{active: isActiveUrl('upload')}">
          <a class="pointer" (click)="goToPage('upload')">Upload</a>
        </li>
        <li [ngClass]="{active: isActiveUrl('view')}">
          <a class="pointer" (click)="goToPage('view')">Viewing</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
