<div class="box">
  <div class="row p-x-15">
    <div class="panel panel-warning m-b-0">
      <div class="panel-heading">
        Please use files less than 10MB.
      </div>
    </div>
  </div>

  <div class="row m-t-5">
    <div class="col-sm-10">
              <span class="control-fileupload">
                <label for="fileInput" class="text-left">Please choose a file(-s).</label>
                <input type="file"
                       id="fileInput"
                       multiple
                       accept="image/jpeg,image/png,image/gif"
                       (change)="onFileChange($event)">
              </span>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-default" (click)="uploadPhotos()">
        <span class="glyphicon glyphicon-upload"></span>Upload
      </button>
    </div>
  </div>
  <div class="row m-t-20" *ngIf="showGoToViewButton">
    <div class="col-sm-2 pull-right">
      <button type="button" class="btn btn-default pull-right" (click)="goToView()">
        Go to Images
      </button>
    </div>
  </div>

  <form action="#" method="post" class="text-center" *ngIf="Images.length">
    <div class="row">
      <div class="col-md-3 m-t-20 m-x-45 panel panel-default p-0"
           *ngFor="let image of previewImages; let i = index">
        <div class="img-wrap panel-body p-5" *ngIf="!isCropImage(i)">
          <img [src]="getSource(i, image)"
               alt="no image"
               style="max-width: 100%; max-height: 100%;">
          <button type="button" class="btn crop-button img-button" (click)="cropImage(i, image)">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
          <button type="button" class="btn remove-button img-button" (click)="removePhoto(i)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
        <div class="panel-body p-0" *ngIf="isCropImage(i)">
          <image-cropper
            #cropper
            [id]="'image' + (i + 1)"
            [imageBase64]="imageBase64"
            [cropperMinHeight]="200"
            [cropperMinWidth]="200"
            [maintainAspectRatio]="false"
            [onlyScaleDown]="true"
            (imageCropped)="imageCropped($event)"
            class="img-wrap">
          </image-cropper>
          <button type="button" class="btn crop-button-done img-button" (click)="cropImage(i)">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
