/*basic settings */

a:focus {
  outline: none !important;
  outline-offset: none !important;
}

body {
  background: #f5f6f5;
  color: #333;
}

/* helper classses */

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-top: 20px;
}

.no-margin {
  margin: 0;
}

/* box component */

.box {
  border-color: #e6e6e6;
  background: #FFF;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  margin-bottom: 40px;
}

.box-center {
  margin: 20px auto;
}

/* input [type = file]
----------------------------------------------- */

input[type=file] {
  display: block !important;
  right: 1px;
  top: 1px;
  height: 34px;
  opacity: 0;
  width: 100%;
  background: none;
  position: absolute;
  overflow: hidden;
  z-index: 2;
}

.control-fileupload {
  display: block;
  border: 1px solid #d6d7d6;
  background: #FFF;
  border-radius: 4px;
  width: 100%;
  height: 36px;
  line-height: 36px;
  padding: 0 10px 2px 10px;
  overflow: hidden;
  position: relative;

  &:before, input, label {
    cursor: pointer !important;
  }
  /* File upload button */
  &:before {
    /* inherit from boostrap btn styles */
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-color: #b3b3b3;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: color 0.2s ease;

    /* add more custom styles*/
    content: 'Browse';
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    right: 2px;
  }
  &:hover, &:focus {
    &:before {
      color: #333333;
      background-color: #e6e6e6;
      text-decoration: none;
      background-position: 0 -15px;
      transition: background-position 0.2s ease-out;
    }
  }

  label {
    line-height: 24px;
    color: #999999;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    z-index: 1;
    margin-right: 90px;
    margin-bottom: 0;
    cursor: text;
  }
}

.img-wrap {
  display: table-cell;
  text-align: center;
  line-height: 135px;
  margin: 0;
  padding-top: 40px;
  float: none;

  div {
    top: 40px;
  }
}

.img-button {
  padding: 0 0 0 1px;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: none;
}

.remove-button {
  position: absolute;
  right: 10px;
  top: 10px;
}

.crop-button {
  position: absolute;
  right: 40px;
  top: 10px;
}

.crop-button-done {
  position: absolute;
  right: 10px;
  top: 10px;
}
