<div class="box">
  <div class="row">
    <div class="col-md-3 m-t-20 m-x-45 panel panel-default p-0"
         *ngFor="let image of Images; let i = index">
      <div class="img-wrap panel-body p-0" [ngStyle]="getStyles(image)"></div>
    </div>
    <div class="col-md-3 m-t-20 m-x-45 panel panel-default p-0 pointer"
         data-toggle="tooltip"
         data-placement="top"
         title="Upload new"
         (click)="goToUploadPage()">
      <div class="img-wrap panel-body p-0" [ngStyle]="getStyles()"></div>
    </div>
  </div>
</div>
