/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap-theme.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  padding-top: 70px;
}

.pointer {
  cursor: pointer;
}

.m-r-5 {
  margin-right: 5px;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-x-45 {
  margin-left: 45px;
  margin-right: 45px;
}

.m-0 {
  margin: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

.p-0 {
  padding: 0;
}

.p-5 {
  padding: 5px;
}

.m-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.p-x-15 {
  padding: 0 15px;
}

.m-t-5 {
  margin-top: 5px;
}

